/* body: ページ全体のスタイル */
body {
    font-family: 'Whitney', sans-serif;
    background-color: #36393f;
    color: #ffffff;
    line-height: 1.6;
}

/* .container: メインコンテンツのスタイル */
.container {
    max-width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 20px;
    background-color: #2f3136;
}

/* .header, .footer: ヘッダーとフッターのスタイル */
.header,
.footer {
    background: #292b2f;
    padding: 20px 0;
    text-align: center;
}

/* .tabs: タブメニューのスタイル */
.tabs {
    overflow: hidden;
}

.tablinks {
    background-color: #555;
    float: left;
    padding: 14px 16px;
    font-size: 17px;
    width: 33.3%;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    background-color: #36393f;
    border-top: none;
}

/* button: ボタンのスタイル */
button {
    background-color: #7289da;
    color: #ffffff;
    padding: 4px 8px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
    font-size: 16px;
}
button:hover {
    background-color: #4d4398;
}

/* table: テーブル全体のスタイル */
table {
    border: 2px solid #444;
    border-collapse: collapse;
}
th, td {
    padding: 8px; 
    text-align: center;
}
th {
    background-color: #444;
    font-weight: bold; 
    white-space: nowrap;
}
td {
    white-space: normal;
    background-color: #36393f;
}

/* 削除ボタン、フォームをクリアボタンのスタイル */
.delete-button, .clear-button {
    background-color: #ea5550;
}
.delete-button:hover, .clear-button:hover {
    background-color: #6a1917;
}

/* tooltip: ツールチップのスタイル */
.tooltip {
    position: relative;
}

.tooltiptext {
    font-size: 12px;
    visibility: hidden;
    background-color: #1f1f1f;
    color: #ffffff;
    text-align: left;
    padding: 5px 5px;
    position: absolute;
    z-index: 1;
    opacity: 0;
    bottom: 100%;
    margin-bottom: 5px;
    white-space: nowrap;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/* 検索 */
#formTable {
    width: 70%;
    border: none;
}
#searchFiltersTable,
#partySettingsTable {
    width: 100%;
}
#searchResultsTable {
    width: 100%;
    margin-top: 10px;
}
#searchName {
    width: 300px;
}
#searchCategory, #searchLevel, #searchPartNum {
    width: 70px;
}
#PartyNum, #CharaSize, #ChatColor {
    width: 70px;
}

/* 登録 */
#monsterInfoTable {
    width: 70%;
}
#monsterAttributesTable {
    width: 100%;
    margin-top: 10px;
}
#registerLevel, 
#registerRepu1, #registerRepu2, 
#registerInit, 
#registerVitResi, #registerMndResi {
    width: 80px;
    text-align: center;
}
#registerCategory, 
#registerWeak {
    width: 100px;
}
#registerName, #registerRefe {
    width: 220px;
}
#registerSkill {
    width: 550px;
}
input[id$="Accuracy"], 
input[id$="Evasion"], input[id$="Defense"], 
input[id$="Hp"], input[id$="Mp"] {
    width: 45px;
}
input[id$="Damage"] {
    width :45px
}
/* 1部位の時の攻撃方法（部位） */
input[id$="Style"][styleNum="1"] {
    width: 200px;
}
/* 2部位以上の時の攻撃方法と部位 */
input[id$="Style"][styleNum="2"] {
    width: 100px;
}
input[id$="StyleAdd"][styleNum="2"] {
    width: 70px;
}

/* 設定 */
#listSettingsTable {
    width: 100%;
}
#textCategory, #textRefe, #textWeak, #textMagic {
    width: 90%;
}